<div class="w-[90%]">
  <% if notice.present? %>
    <p class="flex py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block text-center justify-center" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Employees" %>

  <div class="flex container justify-between items-center my-10 mx-auto">
    <h1 class="font-bold text-4xl">Employees</h1>
    <%= link_to new_chitoge_employee_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white block font-medium focus:ring-4 focus:ring-blue-300 flex items-center gap-2" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    New employee
  <% end %>
  
  </div>

  <div id="employees" class="container mx-auto">
      <!-- Modal -->
      <div id="deleteModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden z-50 overflow-y-auto h-full w-full flex items-center justify-center">
        <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="mt-3 text-center">
                <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                  </svg>
                                
                </div>
                <h3 class="text-lg leading-6 font-medium text-gray-900 my-5"> Are you sure want to Delete?</h3>
                <p class="text-sm font-small text-gray-500 my-4">This action cannot be undo.</p>
                <div class="flex items-center px-4 py-3 justify-center space-x-4">
                    <button id="cancelDelete" class="px-4 py-2 bg-gray-300 text-black rounded-md hover:bg-gray-400 focus:outline-none">
                        Cancel
                    </button>
                    
                    <span>
                        <form action="/logout" method="POST" id="logout-form">
                            <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
                        </form>
                        <button id="confirmLogout" class="px-4 py-2 bg-gray-300 text-black rounded-md hover:bg-red-700 focus:outline-none bg-red-500 text-white">
                            Delete
                        </button>
                    </span>
                </div>
            </div>
        </div>
      </div>  
    <!-- End Modal -->
    <% if @employees.present? %>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-10">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 table-auto">
          <thead class="text-xs text-gray-700 uppercase bg-gray-200">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Email
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Phone
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Job Tile
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                      Action
                  </th>
              </tr>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
              <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  <%= employee.first_name %>
                </th>
                <td class="px-6 py-4">
                  <%= employee.email %>
                </td>
                <td class="px-6 py-4">
                  <%= employee.phone_number %>
                </td>
                <td class="px-6 py-4">
                  <%= employee.job_title %>
                </td>
                <td class="flex px-6 py-4 text-center justify-center">
                  <%= link_to "Edit", edit_chitoge_employee_path(employee), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none" %>
                  <!-- <%= button_to "Delete", chitoge_employee_path(employee), method: :delete, class: "", id:"delete" %> -->
                  <button id="delete" class="focus:outline-none text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                    Delete
                  </button>
                </td>
              </tr>
            <% end %>
            
          </tbody>
      </table>
    </div>
 
    <% else %>
      <p class="text-center">There is no employee.</p>
    <% end %>
  </div>
  <div id="employeeModal" class="fixed inset-0 z-50 bg-black bg-opacity-25 hidden">
    <div class="absolute right-0 top-0 h-full w-[90%] max-w-md bg-white shadow-lg transform translate-x-full transition-transform duration-300">
      <div class="p-5">
        <h2 id="modalTitle" class="text-2xl font-bold mb-5"></h2>
        <div id="modalContent">
          <!-- Form will be rendered dynamically here -->
        </div>
      </div>
    </div>
  </div>
  
</div>


<%= javascript_include_tag 'employee' %>
<script>

  setTimeout(function() {
    var noticeElement = document.getElementById('notice');
    if (noticeElement) {
      noticeElement.style.opacity = '0';
      setTimeout(function() {
        noticeElement.style.display = 'none';
      }, 500);
    }
  }, 3000);


</script>