<div class="max-w-2xl bg-gray-100 shadow-md rounded-lg grid mx-auto">
    <div class="col-sm-span-2 px-10">
    <h1 class="text-2xl text-center text-blue-500 mt-5">Forget Password</h1>
    <p class="text-gray-400 mt-10 text-center mx-5">Enter your email and we'll send you a link to reset your password.</p>
    <%= form_with url: :forget_password, method: :post, html: { class: "px-5 py-12" } do |f| %>
        <%# email addrss%>
        <div class="relative z-0 w-full mb-5 ">
            <%= f.email_field :email, class: "form_input peer", id: "email", required: true, placeholder: " ", value: flash[:old_email] %>
            <%= f.label :email_address, for: "email", class: "form_label peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
            <% unless flash[:error].nil? %>
              <p class="text-red-500 text-sm mt-2"><%= flash[:error] %></p>
            <% end %>
        </div>

        <div>
            <%= f.submit "Submit", class: "text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center mt-10" %>
        </div>

        <div class="flex items-center justify-center mt-10 text-gray-500">
            <%= link_to "< Back to Login", login_path, class: "text-sm" %>
        </div>
    <% end %>
    </div>
</div>
