<div id="<%= dom_id payroll %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= payroll.employee_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pay date:</strong>
    <%= payroll.pay_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gross pay:</strong>
    <%= payroll.gross_pay %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Net pay:</strong>
    <%= payroll.net_pay %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax deductions:</strong>
    <%= payroll.tax_deductions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Benefits deductions:</strong>
    <%= payroll.benefits_deductions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Other deductions:</strong>
    <%= payroll.other_deductions %>
  </p>

</div>
