<!-- app/views/payrolls/index.html.erb -->
<div class="container mx-auto px-4 py-8">
  <% if notice.present? %>
    <p class="flex py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block text-center justify-center" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="flex py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block text-center justify-center" id="alert"><%= alert %></p>
  <% end %>
  
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Payrolls</h1>
    <%= link_to "Create payroll", new_chitoge_payroll_path, class: "rounded-lg px-5 py-2.5 bg-blue-600 text-white block font-medium" %>

  </div>


  <div class="overflow-x-auto bg-white shadow-md rounded-lg mt-5">
    <table class="min-w-full">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Employee</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Pay Date</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Gross Pay</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Net Pay</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Tax Deductions</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Leave Deductions</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Other Deductions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% if @payrolls.empty? %>
        <tr class="bg-white border-b">
          <td colspan="8" class="px-6 py-4 text-center text-gray-500">
            There is no payroll record.
          </td>
        </tr>
      <% else %>
        <% @payrolls.each do |payroll| %>
          <tr class="hover:bg-gray-50 transition">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><%= payroll.employee.name %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><%= payroll.pay_date %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 font-bold"><%= number_to_currency(payroll.gross_pay) %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 font-bold"><%= number_to_currency(payroll.net_pay) %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><%= number_to_currency(payroll.tax_deductions) %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><%= number_to_currency(payroll.leave_deductions) %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><%= number_to_currency(payroll.other_deductions) %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>