<aside id="logo-sidebar" class="h-screen min-h-full transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 w-[10%] drop-shadow-lg" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-grey-500">
      <ul class="space-y-2 font-medium ms-3 mt-5">
        <li>
          <%= link_to '/', class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
               <%= render_svg 'attendance' %>
               <span class="ms-1">Home</span>
          <% end %>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
            <%= render_svg 'payroll' %>
            <span class="ms-1">Payroll</span>
          </a>
        </li>
        <li>
          <%= link_to new_leave_request_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
          <%= render_svg 'users' %>
              <span class="ms-1">Req Leave</span>
          <% end %>
      </li>
      </ul>
    </div>
  </aside>

<script>

</script>
