<!DOCTYPE html>
<html>
  <head>
    <title>BobbyHr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "employees" %>


    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <%= render :partial => "layouts/header" %>
  <body class="h-screen overflow-hidden flex flex-col">
    <main class="flex flex-1 overflow-hidden">
        <% if current_user.ghost_admin? || current_user.company_admin?  %>
            <%= render partial: "layouts/sidebar_chitoge" %>
            <% elsif current_user.employee? %>
            <%= render :partial => "layouts/sidebar_employee" %>
        <% end %>
      <div class="flex-1 overflow-y-auto w-full">
        <div class="max-w-full p-4">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
