<!DOCTYPE html>
<html>
  <head>
    <title>BobbyHr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main>
      <!-- header goes here -->
      <section class="grid items-center mx-auto" style="min-height: 100vh; max-width: 800px">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
